<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Nestlé - Iniciativa por los Jóvenes</title>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FF9400;
}
@media all and (max-width: 400px){
img{
width:100%;
height:100%;
}
</style>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="middle"><a href="index.php"><img src="gracias_youth.jpg" width="536" height="718"></a></td>
  </tr>
</table>
</body>
</html>
