body{
	font-family: 'Century Gothic', 'Muli', sans-serif;;
}

form{
	width: 100%;
}

.container {opacity:0; filter:alpha(opacity:0)}
.pace-done .container {opacity:1;filter:alpha(opacity=100);}

.bienvenido{
	background-color: #00B9E7;
	min-height: 100vh;
	color: #662D91;
}

.bienvenido h1{
	font-size: 4em;
	font-weight: 600;
	margin-top: 5%;
}

.bienvenido h3{
	font-weight: 100;
	font-size: 3em;
	padding: 0 10%;
}

.bienvenido h3 strong{
	font-weight: 600;
}

.registro{
	min-height: 100vh;
	display: none;
}

.agradecimiento{
	background-color: #F7931E;
	min-height: 100vh;
	color: #fff;
}

.agradecimiento img{
	margin-bottom: 12%;
}

.agradecimiento h1:first-line{
	font-size: 2em;
	font-weight: 600;
}

.agradecimiento h1{
	font-size: 3em;
	font-weight: 600;
}

.agradecimiento h3{
	margin-top: 2%;
	font-weight: 100;
	font-size: 2em;
	padding: 0 20%;
}

.agradecimiento h3 strong{
	font-weight: 600;
}



.first-col-login{
	background-color: #04A7DB;
}

.first-col-login label{
	color: #00478C;
	font-size: 17px;
	font-weight: 600;
}

.first-col-login input, .first-col-login select.form-control:not([size]):not([multiple]){
	font-size: 17px;
	font-weight: 600;
	max-width: 100%;
	border-radius: 15px;
	height: 51px;
}

.first-col-login button{
    font-size: 2em;
    font-weight: 100;
    padding: 25px 21px;
	background-color: #00478C;
	border-radius: 25px;
	border: 6px solid white;
	line-height: 1;
}

.second-col-login{
	background-color: #00478C;
}

.second-col-login label{
	color: #04A7DB;
	font-size: 17px;
	font-weight: 600;
}

.second-col-login input{
	font-size: 17px;
	font-weight: 600;
	max-width: 100%;
	border-radius: 15px;
	height: 51px;
}

.second-col-login input[type="file"]{
	border-radius: 0;
}

.second-col-login button{
	font-size: 2em;
	font-weight: 100;
	padding: 25px 21px;
	background-color: #04A7DB;
	border-radius: 25px;
	border: 6px solid white;
	display: block;
	line-height: 1;
}

form label.error{
	color: white;
	font-size: 15px;
	margin-top: .5rem;
}

@media (min-width: 768px){
	.first-col-login{
		height: 100vh
	}
	.second-col-login{
		height: 100vh
	}
}