body{
	font-family: 'Century Gothic', 'Muli', sans-serif;
}

.container {opacity:0; filter:alpha(opacity=0)}
.pace-done .container {opacity:1;filter:alpha(opacity=100);}

.section-1, .section-1 .sections-text h3:after{
	background-color: #462B05;
}
.section-1 .sections-text h3, .section-1 .sections-text p, .section-1 .sections-text a{
	color: #462B05;
}
.section-2, .section-2 .sections-text h3:after{
	background-color: #802CA3;
}
.section-2 .sections-text h3, .section-2 .sections-text p, .section-2 .sections-text a{
	color: #802CA3;
}
.section-3, .section-3 .sections-text h3:after{
	background-color: #FF7E25;
}
.section-3 .sections-text h3, .section-3 .sections-text p, .section-3 .sections-text a{
	color: #FF7E25;
}
.section-4, .section-4 .sections-text h3:after{
	background-color: #6ED042;
}
.section-4 .sections-text h3, .section-4 .sections-text p, .section-4 .sections-text a{
	color: #6ED042;
}
.section-5, .section-5 .sections-text h3:after{
	background-color: #FF0068;
}
.section-5 .sections-text h3, .section-5 .sections-text p, .section-5 .sections-text a{
	color: #FF0068;
}
.section-6, .section-6 .sections-text h3:after{
	background-color: #00A8DD;
}
.section-6 .sections-text h3, .section-6 .sections-text p, .section-6 .sections-text a{
	color: #00A8DD;
}

.sections .icons{
	margin-top: 10%;
}

.sections-text{
	background-color: #fff;
	padding: 4.5%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px; 
	margin-bottom: 10%;
	overflow: hidden;
}

.sections-text h3{
	font-size: 21px;
	font-weight: 600;
	text-align: center;
}

.sections-text h3:after{
	content: '';
	display: block;
	width: 80%;
	height: 1px;
	margin: 8% auto;
}

.sections-text p{
	font-size: 10px;
}

.sections-text a{
	display: block;
	text-align: center;
}

.sections-text a:hover{
	text-decoration: none;
	opacity: 0.8;
}
